PORT=3000

SEQUELIZE_DIALECT=postgres
SEQUELIZE_HOST=127.0.0.1
SEQUELIZE_PORT=5432
SEQUELIZE_USERNAME=root
SEQUELIZE_PASSWORD=root
SEQUELIZE_DATABASE_DEVELOPMENT=express_api_development
SEQUELIZE_DATABASE_TEST=express_api_test
SEQUELIZE_DATABASE_PRODUCTION=express_api_production
# Maximum number of connection in pool
SEQUELIZE_MAX_POOL=5
# Minimum number of connection in pool
SEQUELIZE_MIN_POOL=0
# The maximum time, in milliseconds, that a connection can be idle before being released
SEQUELIZE_IDLE=10000

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# LINE Notify
LINE_NOTIFY_CLIENT_ID=your-client-id
LINE_NOTIFY_CLIENT_SECRET=your-client-secret
LINE_NOTIFY_REDIRECT_URI=your-redirect-uri
